body,
html {
  margin: 0;
  padding: 0;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container {
  margin: 10px;
  padding: 15px;
  border-radius: 20px !important;
}

.d-flex {
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-15px {
  @extend .d-flex;
  gap: 25px;
}

.jc-sp-bet {
  display: flex;
  justify-content: space-between;
}
