body,
html {
  margin: 0;
  padding: 0;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container {
  margin: 10px;
  padding: 15px;
  border-radius: 20px !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-15px {
  gap: 25px;
}

.jc-sp-bet {
  display: flex;
  justify-content: space-between;
}

.fx-brighthover-2 {
  transition: filter 0.3s;
}
.fx-brighthover-2:hover {
  filter: brightness(2);
}

.centerized {
  display: flex;
  justify-content: center;
  align-items: center;
}
